@font-face {
    font-family: "collab-ui-icons";
    src: url(../.fonts/collab-ui-icons-28119b2a06bcd7daada5d307c874de91.woff2) format("woff2"), url(../.fonts/collab-ui-icons-4ad727153f66e210ad5a9f842acccaad.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }  


@font-face {
    font-family: "Roboto";
    src: url("../.fonts/Roboto/Roboto-Regular.ttf");
}
