body {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
}

a {
  color: #05a1bf !important;
  -webkit-font-smoothing: antialiased;
}

h4 {
  font-weight: 300;
}

/* text */

#activities .activity-item {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 1em;
}

#activities .activity-item--message {
  font-size: 16px;
  display: inline-block;
  text-align: left;
  color: #000;
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 800px;
  width: 100%;
}

.cui-button.cui-button--none {
  border-color: hsla(0, 0%, 90%, 0.88);
  border-radius: 50px;
  padding: 0;
  min-width: 0;
  margin-right: 17px;
}

.cui-avatar.cui-avatar--36 {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.7875rem;
  line-height: 1.125rem;
}

.cui-avatar .cui-avatar__letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: hsla(0, 0%, 90%, 0.88);
}

.cui-avatar .cui-avatar__img {
  border-radius: 50%;
}

.activity-item-sender-meta {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 0.2em;
}

/* 
.activity-item-sender-meta__publishedDate {
    margin-left: 16px;
} */

spark-mention {
  color: #969696;
}

#activities .activity-item .content {
  padding: 0px 4px;
  min-width: 250px !important;
  max-width: 90%;
  width: 100%;
}

.activity--reply {
  margin: 0 16px 0 68px;
  border-left: 4px solid rgba(0, 0, 0, 0.12);
}

.activity--reply .activity-item {
  padding: 10px 0 0;
}

.activity--reply .activity-item-left-child {
  margin: 6px 0 0 16px;
  flex: none;
}

/* ----------------- */

/* Files-images */

.shareList {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.mid-dot {
  margin-right: 10px;
}

.chip-info {
  margin-top: 15px;
  padding: 11px;
  background-color: #f5f5f5;
  font-size: 14px;
  border-radius: 5px;
  color: #6b6b6b;
}

.file-chip-secondary {
  display: flex;
}
.file-chip-meta-size,
.file-chip-secondary .mid-dot {
  flex: 0 0 auto;
}

/* ---------------------- */
