[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webexteamssdk = "*"
requests = "*"
"hurry.filesize" = "*"
bump2version = "*"
Jinja2 = "==2.11.3"
MarkupSafe = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
