<head>
    <meta charset="utf-8">
    <title>{{ room.title }}</title>
    <meta name="description" content="Sign in to Webex Teams for group chat, video calling, and sharing documents with your team. It's all backed by Cisco security and reliability.">
    <meta http-equiv="Content-Language" content="en">
    <!-- Favicon -->
    <link rel=".images/icon.png" type="image/png" sizes="16" href="icon.png">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <link href=".css/fonts.css" rel="stylesheet">
    <link href=".css/featherlight.min.css" type="text/css" rel="stylesheet" />
    <script src=".js/jquery.min.js"></script>
    <script src=".js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- bootstrap -->
    <link href=".css/bootstrap.min.css" rel="stylesheet">
    <link href=".css/teams.css" rel="stylesheet"> <!-- Adding this here in case we're ever able to include the Webex Teams CSS itself. -->
</head>